{% extends 'base.html.twig' %}

{% block title %}Annonce index{% endblock %}

{% block body %}
    <h1>Annonce index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Adressemailbien</th>
                <th>Linebookbien</th>
                <th>Descriptionannonce</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annonce in annonces %}
            <tr>
                <td>{{ annonce.adressemailbien }}</td>
                <td>{{ annonce.linebookbien }}</td>
                <td>{{ annonce.descriptionannonce }}</td>
                <td>
                    <a href="{{ path('annonce_show', {'adressemailbien': annonce.adressemailbien}) }}">show</a>
                    <a href="{{ path('annonce_edit', {'adressemailbien': annonce.adressemailbien}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('annonce_new') }}">Create new</a>
{% endblock %}
